
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#gameOverImage {
  height: 50%;
}

.tryAgain {
  text-align: center;
  cursor: pointer;
  margin: 0 50px;
  border-radius: 7px;
  background: rgb(17, 24, 39);
  color: white;
  padding: 10px;
  font-weight: 700;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


